<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dummy Life</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/styles.css">
</head>

<body class="bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%">
    <div class="flex flex-col items-center justify-center gap-4">
        <div class="flex justify-center mt-4">
            <button class="rounded-lg text-xl bg-green-400 px-4 py-2 create-button">Create Room</button>
            <button class="rounded-lg text-xl bg-blue-500 px-4 py-2 ml-4 join-button">Join Room</button>
        </div>
        <div class="flex justify-center">
            <input id="playerName" class="outline-none p-2 text-xl bg-slate-500 border-[1px] border-blue-500" type="text" name="name"
                placeholder="Your name...">
        </div>
    </div>

    <p class="text-2xl mt-[200px] ml-2">Hi so i am making a game for JEE/NEET students where they can compete with each other
        and hopefully get meaning to their stupid lives dedicated to a stupid exam which i was unable to crack and
        failed to get into IIT
        and now i hope to save others time and let them doze off the depression while learning new concepts of JEE/NEET
        See you later when i am back till then listen to Kishore Kumar Nice singer
        bye losers(i am the biggest)</p>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="/index.js"></script>
</body>

</html>